<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <a class="dag-link" href="http://www.daghewardmills.org/">return to daghewardmills.org</a>

    <nav class="site-nav">
      <div class="trigger">
        {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
        <a class="page-link" href="http://www.daghewardmills.org/index.php/en/media-watch">Media</a>
        <a class="page-link" href="http://www.daghewardmillsbooks.org/store/">Shop</a>
      </div>
    </nav>

  </div>

</header>
